/* styles/subjectTable.css */

.responsiveDataGridContainer {
    height: 400px;
    width: 10%;
    /* Default to full width */
}

/* Small screens */
@media (min-width: 600px) {
    .responsiveDataGridContainer {
        width: 90%;
    }
}

/* Medium screens */
@media (min-width: 960px) {
    .responsiveDataGridContainer {
        width: 80%;
    }
}

/* Large screens */
@media (min-width: 1280px) {
    .responsiveDataGridContainer {
        width: 70%;
    }
}

/* Extra large screens */
@media (min-width: 1920px) {
    .responsiveDataGridContainer {
        width: 60%;
    }
}

.tableFilters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 12px;
}